{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="container py-5">
    <h2>Мои решения</h2>
    {% for sub in submissions %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ sub.material.title }}</h5>
                <a href="{{ url_for('main.serve_file', subject_id=sub.material.subject_id, filename=sub.file | extract_filename) }}" target="_blank">Файл</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %} 